/*styles for my resume*/
body {
  font-family:'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*banner name at top*/
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*title*/
#title {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;

}

/*section titles*/
.sectionheader {
  font-size: 1.5em;
  color: #fff;
  background-color: #33485e;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}
/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/*job organization*/
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/*job date*/
.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

/*links but text align refuses to transfer*/
.menu li {
  display: inline;
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#degrees {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#do {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/*made sure to keep this style at the bottom*/
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
